<h1 class="title" ng-show="!inProgress">QuizApp</h1>
<div class="quiz-area" ng-show="inProgress">
    <div ng-show="!quizOver">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                 style="width:{{duration +'%'}};">
                <!--<span class="sr-only">60% Complete</span>-->
            </div>
        </div>
        <div id="score" class="pull-right">
            Score: {{score}}
        </div>
        <h2 id="question">{{question}}</h2>
        <ul id="options">
            <li ng-repeat="option in options">
                <label>
                    <input type="radio" name="answer" value="{{option}}">
                    {{option}}
                </label>
            </li>
        </ul>
        <div class="row text-center">
            <div class="col-xs-6 col-md-6">
                <button ng-click="checkAnswer()" ng-show="answerMode" class="btn btn-primary"><li class="glyphicon glyphicon-ok"></li></button>
            </div>
            <div class="col-xs-6 col-md-6">
                <button ng-click="checkAnswer()" ng-show="answerMode" class="btn btn-primary"><li class="glyphicon glyphicon-remove"></li></button>
            </div>
        </div>
        <!--<button ng-click="checkAnswer()" ng-show="answerMode" class="btn btn-primary">Submit</button>-->

        <div ng-show="!answerMode">
            <button ng-click="nextQuestion()" class="next-question">Next</button>
            <span ng-show="correctAns">That is correct!</span>
            <span ng-show="!correctAns">Sorry, that is an incorrect answer.</span>
        </div>
    </div>

    <div ng-show="quizOver">
        <h2>Quiz is over</h2>
        <button ng-click="reset()">Play again</button>
    </div>

</div>

<div class="intro" ng-show="!inProgress">
    <p>Welcome to the QuizApp</p>
    <button id="startQuiz" ng-click="start()">Start the Quiz</button>
</div>
